<!DOCTYPE html>
<html>
  <head>
    <title data-inertia><%= @title ? "#{@title} · SteimCore" : "SteimCore" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= vite_stylesheet_tag "application" %>
    <%= vite_react_refresh_tag %>
    <%= vite_client_tag %>
    <%= vite_typescript_tag "inertia.tsx" %>
    <%= inertia_ssr_head %>
    <%= vite_typescript_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
